# Virtual Environment
myvenv/
venv/
ENV/
env/
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# VS Code
.vscode/

# Model files
*.h5
*.pkl
*.pt
*.bin

# Logs
*.log
logs/myvenv/
myvenv/Lib/site-packages/torch/lib/dnnl.lib
myvenv/Lib/site-packages/torch/lib/torch_cpu.dll
myvenv/Lib/site-packages/en_core_sci_md/en_core_sci_md-0.5.1/vocab/strings.json
