absl-py==2.1.0
accelerate==1.3.0
aiohappyeyeballs==2.4.6
aiohttp==3.11.12
aiosignal==1.3.2
astroid==3.3.8
async-timeout==5.0.1
attrs==25.1.0
black==25.1.0
blinker==1.9.0
blis==0.7.11
catalogue==2.0.10
certifi==2025.1.31
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
confection==0.1.5
coverage==7.6.12
cymem==2.0.11
datasets==3.3.0
dill==0.3.8
docker-pycreds==0.4.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.1/en_core_web_sm-3.4.1-py3-none-any.whl#sha256=83872781dc64893d45d9dbe940e05f80df7e7196e169ea29e2e9742fed079549
en_core_sci_md @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.1/en_core_sci_md-0.5.1.tar.gz#sha256=4485c7c3f2522eccf53e44069223d1162258de48fbad457419b38808b3a0ed20
evaluate==0.4.3
exceptiongroup==1.2.2
filelock==3.17.0
Flask==2.0.1
frozenlist==1.5.0
fsspec==2024.12.0
gitdb==4.0.12
GitPython==3.1.44
grpcio==1.70.0
gunicorn==20.1.0
huggingface-hub==0.28.1
idna==3.10
importlib_metadata==8.6.1
iniconfig==2.0.0
isort==6.0.0
itsdangerous==2.2.0
Jinja2==3.1.5
joblib==1.4.2
json5==0.10.0
langcodes==3.5.0
language-tool-python==2.7.0
language_data==1.3.0
marisa-trie==1.2.1
Markdown==3.7
MarkupSafe==3.0.2
mccabe==0.7.0
mpmath==1.3.0
multidict==6.1.0
multiprocess==0.70.16
murmurhash==1.0.12
mypy-extensions==1.0.0
networkx==3.2.1
nltk==3.9.1
numpy==1.21.6
packaging==24.2
pandas==1.3.0
pathlib==1.0.1
pathlib_abc==0.1.1
pathspec==0.12.1
pathy==0.11.0
pillow==11.1.0
platformdirs==4.3.6
pluggy==1.5.0
preshed==3.0.9
propcache==0.2.1
protobuf==5.29.3
psutil==7.0.0
pyarrow==19.0.0
pydantic==1.10.21
pylint==3.3.4
pytest==8.3.4
pytest-cov==6.0.0
python-dateutil==2.9.0.post0
pytz==2025.1
PyYAML==6.0
regex==2023.10.3
requests==2.32.3
rouge_score==0.1.2
safetensors==0.5.2
scikit-learn==1.6.1
scipy==1.10.1
sentence-transformers==2.2.2
sentry-sdk==2.21.0
setproctitle==1.3.4
six==1.17.0
smart-open==6.4.0
smmap==5.0.2
spacy==3.4.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.5.1
sympy==1.13.3
tensorboard==2.19.0
tensorboard-data-server==0.7.2
thinc==8.1.12
threadpoolctl==3.5.0
tokenizers==0.21.0
toml==0.10.2
tomli==2.2.1
tomlkit==0.13.2
torch==2.0.1 --index-url https://download.pytorch.org/whl/cpu
torchvision==0.15.2
tqdm==4.67.1
transformers==4.18.0
ttkthemes==3.2.2
typer==0.7.0
typing_extensions==4.12.2
urllib3==2.3.0
wandb==0.18.7
wasabi==0.10.1
Werkzeug==3.1.3
wheel
setuptools>=59.0.0
xxhash==3.5.0
yarl==1.18.3
zipp==3.21.0
